body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f9fa;
}

.card {
    border-radius: 1rem;
}

.table {
    border-radius: 0.5rem;
    overflow: hidden;
}

.btn-success {
    background-color: #198754;
    border: none;
}

.btn-primary {
    background-color: #0d6efd;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}
